.container {
    margin:0px;
    padding: 25px 0 25px 25px;
    border-bottom: 1px solid #9fb1b8;
}
.boxed{
    width:700px;
}
.image{
    border-radius: 15px;
    margin-top: 25px;
    width:200px;
    border: dashed 3px #000f67;
    transition: border ease 0.3s;
}
.image:hover{
    border-radius: 15px;
    margin-top: 25px;
    width:200px;
    border: 3px dotted #949bc4;
}
.bluey{
    color:#000b72;
    transition: ease color 0.3s;
}
.highlight{
    color:#000b72;
    text-decoration: underline 2px ;
}
.highlight:hover{
    text-decoration: none ;
    stroke-width: 0px;

}
.text{
    margin-top:10px;
    font-size: 18px;
}

/* TIMELINE ITEM */