.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    width:700px;
  }
  
  .timeline-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    min-width: 80px;
  }
  
  .timeline-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
  }
  
  .timeline-name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .timeline-title {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
  
  .timeline-right {
    flex: 1;
  }
  
  .timeline-description {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .timeline-time {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #777;
  }
  