html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.app-container {
  display: flex; /* Ensures elements inside it are arranged horizontally */
  height: 100%; /* Fill the whole viewport */
}

.page-wrapper {
  margin-left: 250px;
  flex-grow: 1; /* Makes sure the page-wrapper takes the remaining space */
  overflow: auto;
}